.vonatiner{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ECDFCC;
}
.formforCreation{
    /* background-color: aqua; */
    height: 88.5%;
    padding: 40px;
    width: 1234px;
    left: 300px;
    top: 80px;
    cursor: pointer;
    position: relative;
}
.inputForCreation{
    width: 200px;
    padding: 6px;
    /* border: 1px solid #787e78;
     */
     border: none;
    border-radius: 7px;
}
.inputForCreation:focus{
    outline: none;
}
.inputForCreationoption{
    width: 150px;
    padding: 3px;
    border: none;
    border-radius: 7px;
}
.inputForCreation2{
    width:50px;
    padding: 3px;
    border-radius: 7px;
    border:none;
}
.inputForCreation2:focus{
    outline: none;
}
.form_creation_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    /* align-items: center; */
}
.form_creation_label{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.creationSubmit{
    width: 200px;
    padding: 6px;
    border-radius: 7px;
}
.error_message{
    color: red;
    
}
.durationInput{
    background-color: white;
    width: 200px;
    border-radius: 8px;
}
.durationInput select:focus{
    outline: none;
}
.container {
    background-color: #ECDFCC;
    height: 100%;
    width: 100%;
    position: relative;
  }
  /* .Products_card_seller{
    min-height: 800px;
    max-height: auto;
    background-color: #ECDFCC;
    display: flex;
    flex-wrap: wrap;
    width: 1080px;
    gap:50px ;

    /* overflow: hidden; */

/*  */
.Products_card_seller{
    /* background-color: yellowgreen; */
    margin-top: 80px;
    /* background-color: #ECDFCC; */
    /* height: 100vmax; */
    /* height: 100vmax; */
    width: 100%;
    

}

/* .container::-webkit-scrollbar {
    display: none;
} */
.boxforcreation{
    display: flex;

}
.imgofnature{
    position: relative;
    top: 100px;
    left: -100px;
}
.headingofrorder{
    position: relative;
    font-size: 70px;
    top: 80px;
    right: -700px;
}
.boxfororderofseller{
    margin-left: 350px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
