.sellerBarBOdy {
    background-color: #1E201E;
    height: 100vh;
    position: fixed; /* Fixed position */
    top: 80px;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #ECDFCC;
    gap: 40px;
    align-items: center;
    padding: 60px 0;
    z-index: 999; /* Ensure it stays above other content */
}

.sellerBarBOdy Link{
    text-decoration: none;
}
.linkOfSeller{
    text-decoration: none;
    color: #ECDFCC;
}
.sellerEdit{
    display: flex;
    gap: 15px;
    font-size: 1.1rem;
    cursor: pointer;
}
.linkOfSeller:hover{
    color:#736857;
    text-decoration: underline;
    transition: 200ms;
}