.navbarbox {
    position: fixed; /* Fixed position */
    top: 0;
    width: 100%;
    color: white;
    padding: 20px;
    display: flex;
    background-color: #1E201E;
    justify-content: space-between;
    z-index: 1000; /* Ensure it stays above other content */
}

.iconOflaptop{
    position: relative;
    top: 6px;

}
.login_register{
    /* background-color: aliceblue; */
    /* position: absolute; */
    height: 30px;
    padding: 8px;
    /* width: 20px; */
    /* width: 100%; */
}
.login_register_link{
    height: 30px;
    text-decoration: none;
    color:black;
    justify-content: center;
    background-color:#ECDFCC;
    border: none;
    border-radius: 10px;
    padding: 12px;
    }
.inputForseller{
    width: 500px;
    height: 40px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    /* font-size: rem; */
}
.input_serach{
    position: relative;
    top: 5px;
    left: -35px;
    
    color: rgb(68, 67, 67);
}
.inputForseller:focus{
    outline: 2px solid #ECDFCC;
    /* border: 2px;
    border-color: #ECDFCC; */
}
.forseller{
    display: flex;
    /* width: 700px; */
    /* background-color: antiquewhite; */
    
}
.forProfile{
    display: flex;
    border-radius: 10px;
    background-color:#3C3D37;
    position: relative;
    left: 300px;
    height: 40px;
    gap: 10px;
    justify-content: center;
    /* align-content: center; */
    width: 120px;
    padding:8px;
}
.forProfile:hover{
    color: white;
    background-color: #73746e;
    transition: 200ms;
}
.menu_dropdown{
    position: absolute;
    right: 59px;
    top: 60px;
    transition: 200ms;
    height: 150px;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 130px;
    background-color: white;
    padding: 15px;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.1rem;
}
.nav-link{
    text-decoration: none;
    color: #1E201E;
    display: flex;
    gap: 10px;
}
.nav-link:hover{
    background-color: #3C3D37;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 200ms;
}
.inputForuser{
    width: 500px;
    height: 40px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    /* font-size: rem; */
}
.input_serach{
    position: relative;
    top: 5px;
    left: -35px;
    
    color: rgb(68, 67, 67);
}
.inputForuser:focus{
    outline: 2px solid #ECDFCC;
    /* border: 2px;
    border-color: #ECDFCC; */
}
.inputfieldDivuser{
    position: relative;
    left: -280px;
    width: max-content;
    /* background-color: #ECDFCC; */
}
.pagelinkforUser{
    position: absolute;
    display: flex;
    right: 280px;
    /* justify-content: space-between; */
    gap: 20px;
  top: 30px;
  font-size: 0.9rem;
  padding: 4px;
    /* background-color: #ECDFCC; */
    
}
.pagelinkforUser div{
    cursor: pointer;
}
.cart{
    /* background-color: aliceblue; */
    color: white;
    padding: 3px;
    height: 30px;
    width: 40px;
    /* border: 1px solid #73746e; */
    /* border-radius: 50%; */
    /* border-radius: 20%; */
    font-size: 1.6rem;
    position: relative;
    top: -8px;
    left: 70px;
}
.pagelinkforUserLink{
    text-decoration: none;
    color: white;
}
@media (max-width: 1024px){
    .inputForuser{
        width: 100px;
    }
    .pagelinkforUser{
        width: 360px;
        gap: 10px;
        font-size: 0.8rem;
        /* background-color: red; */
        margin-right: 50px;
    }
    .cart{
        /* margin-left: 60px; */
        position: relative;
        left: 150px;
    }
    
}
.firstlinkofthewebsite{
    text-decoration: none;
    color: white;
}
.menu_dropdown2{
    position: absolute;
    right: 59px;
    top: 60px;
    transition: 200ms;
    height: 100px;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 130px;
    background-color: white;
    padding: 15px;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.1rem;
}