.categoriesbody{
    display: flex;
    padding: 2px;
}
.imgForpointer{
    height: 500px;
    width: 500px;
}
.Bhulgaya{
    padding: 10px;
    margin-left: 100px;
}
.Bhulgaya h1{
    margin-left: 550px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 26px;
}
.categoriesbox{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    width: 800px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}
.containerForEachCategorie{
    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 150px;
    padding: 20px;
    gap: 10px;
    border: 1px solid #73746e;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.imgofcategories{
    height: 50px;
}
.containerForEachCategorie:hover{
    transition: 300ms;
    scale: 1.1;
    padding: 30px;
    background-color: #252524;
    border: none;
    color: #ECDFCC;
}