.categoriesbody{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    align-items: flex-start;
}
.imgForpointer{
    max-height: 440px;
    max-width: 440px;
    width: 100%;
    object-fit: contain;
}
.Bhulgaya{
    padding: 20px;
    width: 100%;
}
.Bhulgaya h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 26px;
}
.categoriesbox{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    width: 800px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}
.containerForEachCategorie{
    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 150px;
    padding: 20px;
    gap: 10px;
    border: 1px solid #73746e;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.imgofcategories{
    height: 50px;
}
.containerForEachCategorie:hover{
    transition: 300ms;
    scale: 1.1;
    padding: 30px;
    background-color: #252524;
    border: none;
    color: #ECDFCC;
}

@media (max-width:800px ){
    .containerForEachCategorie{
        height: 130px;
        width: 130px;
        padding: 14px;
    }
    .categoriesbox{
        width: 100%;
        justify-content: center;
    }
}
@media (max-width:430px ){
    .Bhulgaya{
        width: 100%;
        padding: 10px;
    }
    .containerForEachCategorie{
        height: 90px;
        width: 140px;
        padding: 10px;
    }
    .categoriesbox{
        width: 100%;
        gap: 12px;
    }
}