.bodyimgofhero{
    height: 590px;
    width: 700px;
    position: relative;
    left: 17px;
}
.hero{
    display: flex;
    padding: 20px;
    position: relative;
    top: 61px;
    justify-content: space-between;
}
.paraHero{
    padding: 50px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 100px;
}
.paraHero h1{
    font-size: 3.2rem;
    
}
.paraHero p{
    padding: 10px;
    font-weight: 500;
    line-height: 25px;
}
.paraHero button{
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    /* border: 1px solid black; */
    border: none;
    background-color: #73746e;
}
.buttonfalse{
    cursor: pointer;
}
.buttonfalse:hover{
    background-color: #252524;
    color: #ECDFCC;
    transition: 300ms;
}
.backtotop{
    padding: 10px;
    background-color: #343434;
    color:#ECDFCC ;
    justify-content: center;
    text-align: center;
    cursor: pointer;

}
.backtotop a{
    width: 100%;
    text-decoration: none;
    padding: 10px;
    background-color: #343434;
    color:#ECDFCC ;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.backtotop a:hover{
    transition: 300ms;
    background-color: #252524;
}
.backtotop:hover{
    transition: 300ms;
    background-color: #252524;
}