.footerBody{
    display: flex;
    flex-direction: column;
    background-color: #181c14;
    color: #ECDFCC;
    text-align: center;
    padding: 20px;
    gap: 10px;
    font-size: 1.1rem;

}
.footerBody p{
    font-size: 1.3rem;
    text-decoration: underline;
}
.footerLinksMAny {
    text-decoration: none;
    color: #ECDFCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    font-size: 1.1rem;
}
.linkoffooter{
    text-decoration: none;
    color: #ECDFCC;
    cursor: pointer;
}
.linkoffooter:hover{
    text-decoration: underline;
    transition: 300ms;
    color: #ffd89d;
}
.iconsOfMedia{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.instagram:hover{
    color: #fe55ac;
}
.linkdin:hover{
color: #0077b5;
}
.facebook:hover{
    color: #0c68ff;
}