.checkout-btn{
    background-color: #1f1f1f;
    color: #ffffff;
    height: 50px;
    position: relative;
    top: -50px;
    left: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 20px 20px 20px 20px;
    width: 220px;
}
.mainboxforcheck{
    /* background-color: red; */
    width: 250px;
    /* margin: 10px 0px 10px 0px; */
}
.divforthis{
    /* background-color: blue; */
    position: relative;
    top: -50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.editforaddress{
    width: 150px;
}